.pages {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pages span {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
}