.wrapper {
    text-align: right;
}

.textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;

}

.submit {
    display: inline-block;
    margin: 0;
    padding: 5px;
    background: slategrey;
    border: none;
    width: 80px;
    text-align: left;
    color: white;
}