.header {
    grid-area: h;
    background-color: lightblue;
    text-align: center;
}

.logo {
    height: 100%;
}

.auth {
    float: right;
    margin: 5px;
    font-size: 0.9rem;
}

.error {
    text-align: left;
    padding: 5px;
    color: red;
    font-weight: bold;
    position: absolute;
}